@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


$soft_red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark_cyan: hsl(167, 40%, 24%);
$dark_blue: hsl(198, 62%, 26%);
$dark_moderate_cyan: hsl(168, 34%, 41%);
$dark_blue: hsl(212, 27%, 19%);
$very_dark_grayish_blue: hsl(213, 9%, 39%);
$dark_grayish_blue: hsl(232, 10%, 55%);
$grayish_blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$header: #3DBEFF;
$header_hover_contact: #85d1f7;
$body_font: 18px;
$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', serif;


* {
    margin: 0;
}

body {
    font-size: $body_font;
    line-height: 1.5;
}

nav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    font-family: $font-barlow;
    position: absolute;
    max-width: 1340px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    
    #menu__icon {
        display: none;
    }

    .menu {
        display: flex;
        align-items: center;
        gap: 50px;

        a:last-child {
            font-family: $font-fraunces;
            color: black;
            background-color: $white;
            border-radius: 5rem;
            padding: 1rem 2rem;
            text-transform: uppercase;
        }
    
        a:last-child:hover {
            background-color: $header_hover_contact;
            color: $white;
        }
    }

    a {
        text-decoration: none;
        color: $white;
    }
}

.section__header {
    background-image: url(./images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
        color: $white;
        font-family: $font-fraunces;
        font-weight: 900;
        font-size: 60px;
        text-transform: uppercase;
    }
}

.section__services {
    max-width: 1440px;
    margin: auto;
}

.services__first, .services__second {
    display: flex;
    
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 8rem;
        width: 50%;
    }


    h2 {
        font-family: $font-fraunces;
        font-weight: 900;
        color: $dark_blue;
        font-size: 41px;
    }

    p {
        font-family: $font-barlow;
        color: $dark_grayish_blue;
        margin: 1rem 0 2rem;
    }

    a {
        font-family: $font-fraunces;
        text-transform: uppercase;
        text-decoration: none;
        color: $dark_blue;
        font-size: 16px;
        font-weight: 900;
        width: fit-content;
    }

    img {
        width: 50%;
    }
}

.services__first {
    a {
        border-bottom: 3px solid $yellow;
    }

    a:hover {
        border-bottom: 5px solid $yellow;
    }
}

.services__second {
    a {
        border-bottom: 3px solid $soft_red;
    }

    a:hover {
        border-bottom: 5px solid $soft_red;
    }
}

.services__third {
    display: flex;
}

.services__third {
    h3 {
        font-family: $font-fraunces;
        color: $dark_cyan;
        font-size: 30px;
        font-weight: 900;
        padding: 23rem 0 2rem;
        text-align: center;
    }

    p {
        font-family: $font-barlow;
        color: $dark_cyan;
        text-align: center;
        width: 60%;
        margin: auto;
        padding: 0 0 5rem;
    }

    .one {
        background-image: url(./images/desktop/image-graphic-design.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        width: 50%;
    }

    .two {
        background-image: url(./images/desktop/image-photography.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 50%;
    }
}

.section__testimonials {
    margin: 9rem 0;

    h3 {
        font-weight: 900;
        text-transform: uppercase;
        color: $grayish_blue;
        font-family: $font-fraunces;
        letter-spacing: 4px;
        text-align: center;
    }

    .testimonials__columns {
        display: flex;
        margin: 4rem 0;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .testimonials__first, .testimonials__second, .testimonials__third {
            width: 340px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            img {
                border-radius: 5rem;
                width: 80px;
            }

            p:nth-child(2) {
                font-family: $font-barlow;
                color: $very_dark_grayish_blue;
                margin: 4rem 0;
            }

            p:nth-child(3){
                font-family: $font-fraunces;
                color: $dark_blue;
                font-weight: 900;
                margin-bottom: 0.5rem;
            }

            p:last-child {
                font-family: $font-barlow;
                color: $grayish_blue;
                font-size: 16px;
            }
        }

        
    }

}

.section__banner {
    display: flex;

    img {
        width: 25%;
    }
}

footer {
    background-color: $dark_moderate_cyan;
    color: $dark_cyan;
    text-align: center;
    padding: 4rem 0;

    .footer__menu {
        display: flex;
        justify-content: center;
        gap: 70px;
        font-family: $font-barlow;
        margin: 3rem 0 4rem;

        a {
            text-decoration: none;
            color: $dark_cyan;

            &:hover {
                color: $white;
            }
        }
    }

    .footer__social {
        ion-icon {
            width: 35px;

            &:hover {
                color: $white;
            }
        }
    }
}

// medium and small devices
@media (max-width: 768px) {
    nav {
        display: block;
        padding: 2rem 1.5rem;

        .logo__agency {
            display: flex;
            justify-content: space-between;

            #menu__icon {
                display: block;
                color: $white;
            }
        }

        #menu {
            display: none;
        }
        
        .menu {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            flex-direction: column;
            gap: 25px;
            background-color: $white;
            padding: 2rem 0rem;
            margin: 6rem 2rem 2rem;

            a {
                color: $dark_grayish_blue;
            }

            a:last-child {
                background-color: $yellow;
            }
        }
    }

    .section__header {
        height: 70vh;

        h1 {
            font-size: 40px;
            text-align: center;
        }
    }
    .section__services {
        .services__first, .services__second, .services__third {
            display: flex;

            div {
                width: 100%;
                height: 500px;
                margin: 0;

                h2 {
                    text-align: center;
                }

                p {
                    text-align: center;
                    padding: 0.5rem;
                }

                a {
                   margin-left: auto;
                   margin-right: auto;
                }
            }

            img {
                width: 100%;
                margin: 0;
            }
        }

        .services__first {
            flex-direction: column-reverse;
        }

        .services__second, .services__third {
            flex-direction: column;
        }

        .services__third h3{
            padding: 17rem 0 0;
        }
    }

    .section__testimonials {
        margin: 5rem 0;

        h3 {
            font-size: 16px;
        }

        .testimonials__columns {
            flex-direction: column;
            gap: 60px;

            .testimonials__first, .testimonials__second, .testimonials__third {
                p:nth-child(2) {
                    margin: 2rem 0;
                }
            }
            
        }
    }

    .section__banner {
        flex-wrap: wrap;

        img {
            width: 50%;
        }
    }
}