@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  margin: 0;
}

body {
  font-size: 18px;
  line-height: 1.5;
}

nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem;
  font-family: "Barlow", sans-serif;
  position: absolute;
  max-width: 1340px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
}

nav .menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
nav a {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
}
nav a:last-child {
  font-family: "Fraunces", serif;
  color: black;
  background-color: hsl(0deg, 0%, 100%);
  border-radius: 5rem;
  padding: 1rem 2rem;
  text-transform: uppercase;
}
nav a:last-child:hover {
  background-color: #85d1f7;
  color: hsl(0deg, 0%, 100%);
}

.section__header {
  background-image: url(./images/desktop/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section__header h1 {
  color: hsl(0deg, 0%, 100%);
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 60px;
  text-transform: uppercase;
}

.section__services {
  max-width: 1440px;
  margin: auto;
}

.services__first, .services__second {
  display: flex;
}
.services__first div, .services__second div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 8rem;
  width: 50%;
}
.services__first h2, .services__second h2 {
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: hsl(212deg, 27%, 19%);
  font-size: 41px;
}
.services__first p, .services__second p {
  font-family: "Barlow", sans-serif;
  color: hsl(232deg, 10%, 55%);
  margin: 1rem 0 2rem;
}
.services__first a, .services__second a {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  text-decoration: none;
  color: hsl(212deg, 27%, 19%);
  font-size: 16px;
  font-weight: 900;
  width: fit-content;
}
.services__first img, .services__second img {
  width: 50%;
}

.services__first a {
  border-bottom: 3px solid hsl(51deg, 100%, 49%);
}
.services__first a:hover {
  border-bottom: 5px solid hsl(51deg, 100%, 49%);
}

.services__second a {
  border-bottom: 3px solid hsl(7deg, 99%, 70%);
}
.services__second a:hover {
  border-bottom: 5px solid hsl(7deg, 99%, 70%);
}

.services__third {
  display: flex;
}

.services__third h3 {
  font-family: "Fraunces", serif;
  color: hsl(167deg, 40%, 24%);
  font-size: 30px;
  font-weight: 900;
}
.services__third p {
  font-family: "Barlow", sans-serif;
  color: hsl(167deg, 40%, 24%);
}
.services__third .one, .services__third .two {
  position: relative;
  width: 50%;
}
.services__third .one h3, .services__third .two h3 {
  position: absolute;
  right: 35%;
  bottom: 30%;
}
.services__third .one p, .services__third .two p {
  position: absolute;
  width: 55%;
  left: 22%;
  bottom: 15%;
  text-align: center;
}
.services__third .one img, .services__third .two img {
  width: 100%;
}

.section__testimonials {
  margin: 9rem 0;
}
.section__testimonials h3 {
  font-weight: 900;
  text-transform: uppercase;
  color: hsl(210deg, 4%, 67%);
  font-family: "Fraunces", serif;
  letter-spacing: 4px;
  text-align: center;
}
.section__testimonials .testimonials__columns {
  display: flex;
  margin: 4rem 0;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.section__testimonials .testimonials__columns .testimonials__first, .section__testimonials .testimonials__columns .testimonials__second, .section__testimonials .testimonials__columns .testimonials__third {
  width: 340px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section__testimonials .testimonials__columns .testimonials__first img, .section__testimonials .testimonials__columns .testimonials__second img, .section__testimonials .testimonials__columns .testimonials__third img {
  border-radius: 5rem;
  width: 80px;
}
.section__testimonials .testimonials__columns .testimonials__first p:nth-child(2), .section__testimonials .testimonials__columns .testimonials__second p:nth-child(2), .section__testimonials .testimonials__columns .testimonials__third p:nth-child(2) {
  font-family: "Barlow", sans-serif;
  color: hsl(213deg, 9%, 39%);
  margin: 4rem 0;
}
.section__testimonials .testimonials__columns .testimonials__first p:nth-child(3), .section__testimonials .testimonials__columns .testimonials__second p:nth-child(3), .section__testimonials .testimonials__columns .testimonials__third p:nth-child(3) {
  font-family: "Fraunces", serif;
  color: hsl(212deg, 27%, 19%);
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.section__testimonials .testimonials__columns .testimonials__first p:last-child, .section__testimonials .testimonials__columns .testimonials__second p:last-child, .section__testimonials .testimonials__columns .testimonials__third p:last-child {
  font-family: "Barlow", sans-serif;
  color: hsl(210deg, 4%, 67%);
  font-size: 16px;
}

.section__banner {
  display: flex;
}
.section__banner img {
  width: 25%;
}

footer {
  background-color: hsl(168deg, 34%, 41%);
  color: hsl(167deg, 40%, 24%);
  text-align: center;
  padding: 4rem 0;
}
footer .footer__menu {
  display: flex;
  justify-content: center;
  gap: 70px;
  font-family: "Barlow", sans-serif;
  margin: 3rem 0 4rem;
}
footer .footer__menu a {
  text-decoration: none;
  color: hsl(167deg, 40%, 24%);
}
footer .footer__menu a:hover {
  color: hsl(0deg, 0%, 100%);
}
footer .footer__social ion-icon {
  width: 35px;
}
footer .footer__social ion-icon:hover {
  color: hsl(0deg, 0%, 100%);
}

@media (max-width: 768px) {
  nav {
    display: none;
  }
  .section__services {
    display: flex;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
