@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');


$soft_red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark_cyan: hsl(167, 40%, 24%);
$dark_blue: hsl(198, 62%, 26%);
$dark_moderate_cyan: hsl(168, 34%, 41%);
$dark_blue: hsl(212, 27%, 19%);
$very_dark_grayish_blue: hsl(213, 9%, 39%);
$dark_grayish_blue: hsl(232, 10%, 55%);
$grayish_blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);
$header: #3DBEFF;
$header_hover_contact: #85d1f7;
$body_font: 18px;
$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', serif;


* {
    margin: 0;
}

body {
    font-size: $body_font;
    line-height: 1.5;
}

nav {
    background-color: $header;
    display: flex;
    justify-content: space-between;
    padding: 3rem 2rem;
    font-family: $font-barlow;
}

nav {
    .menu {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    a {
        text-decoration: none;
        color: $white;
    }

    a:last-child {
        font-family: $font-fraunces;
        color: black;
        background-color: $white;
        border-radius: 5rem;
        padding: 1rem 2rem;
        text-transform: uppercase;
    }

    a:last-child:hover {
        background-color: $header_hover_contact;
        color: $white;
    }
}

.section__header {
    background-image: url(./images/desktop/image-header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 85vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    h1 {
        color: $white;
        font-family: $font-fraunces;
        font-weight: 900;
        font-size: 60px;
        text-transform: uppercase;
        padding-top: 4rem;
    }
}

.section__services {
    max-width: 1440px;
    margin: auto;
}

.services__first, .services__second {
    display: flex;
    
    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
       margin: 0 8rem;
    }


    h2 {
        font-family: $font-fraunces;
        font-weight: 900;
        color: $dark_blue;
        font-size: 41px;
    }

    p {
        font-family: $font-barlow;
        color: $dark_grayish_blue;
        margin: 1rem 0 2rem;
    }

    a {
        font-family: $font-fraunces;
        text-transform: uppercase;
        text-decoration: none;
        color: $dark_blue;
        font-size: 16px;
        font-weight: 900;
        width: fit-content;
    }
}

.services__first {
    a {
        border-bottom: 3px solid $yellow;
    }

    a:hover {
        border-bottom: 5px solid $yellow;
    }
}

.services__second {
    a {
        border-bottom: 3px solid $soft_red;
    }

    a:hover {
        border-bottom: 5px solid $soft_red;
    }
}

.services__third {
    display: flex;
}

.services__third {
    h3 {
        font-family: $font-fraunces;
        color: $dark_cyan;
        font-size: 30px;
        font-weight: 900;
    }

    p {
        font-family: $font-barlow;
        color: $dark_cyan;
    }

    .one, .two {
        position: relative;

        h3 {
            position: absolute;
            right: 35%;
            bottom: 30%;
        }
    
        p {
            position: absolute;
            width: 55%;
            left: 22%;
            bottom: 15%;
            text-align: center;
        }
    }
}

.section__testimonials {
    margin: 9rem 0;

    h3 {
        font-weight: 900;
        text-transform: uppercase;
        color: $grayish_blue;
        font-family: $font-fraunces;
        letter-spacing: 4px;
        text-align: center;
    }

    .testimonials__columns {
        display: flex;
        margin: 4rem 0;
        justify-content: center;
        align-items: center;
        gap: 30px;

        .testimonials__first, .testimonials__second, .testimonials__third {
            width: 340px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            img {
                border-radius: 5rem;
                width: 80px;
            }

            p:nth-child(2) {
                font-family: $font-barlow;
                color: $very_dark_grayish_blue;
                margin: 4rem 0;
            }

            p:nth-child(3){
                font-family: $font-fraunces;
                color: $dark_blue;
                font-weight: 900;
                margin-bottom: 0.5rem;
            }

            p:last-child {
                font-family: $font-barlow;
                color: $grayish_blue;
                font-size: 16px;
            }
        }

        
    }

}

.section__banner {
    display: flex;

    img {
        width: 25%;
    }
}

footer {
    background-color: $dark_moderate_cyan;
    color: $dark_cyan;
    text-align: center;
    padding: 4rem 0;

    .footer__menu {
        display: flex;
        justify-content: center;
        gap: 70px;
        font-family: $font-barlow;
        margin: 3rem 0 4rem;

        a {
            text-decoration: none;
            color: $dark_cyan;

            &:hover {
                color: $white;
            }
        }
    }

    .footer__social {
        ion-icon {
            width: 35px;

            &:hover {
                color: $white;
            }
        }
    }
}